/* Commomn rules */

header, footer, div, img, a, h1, h2, h3, h4, h5, p, section, ul, li, input {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
}

@font-face {
    font-family: 'Open Sans'; /* имя шрифта для CSS правил */
    src: local('Open Sans'),
         url(fonts/Open Sans.ttf); /* проверяем наличие шрифта в ОС пользователя, если шрифт не установлен, тогда загружаем его по указанному пути */
  }

@font-face {
    font-family: 'PT Sans'; /* имя шрифта для CSS правил */
    src: local('PT Sans'),
         url(fonts/PT Sans Narrow.ttf); /* проверяем наличие шрифта в ОС пользователя, если шрифт не установлен, тогда загружаем его по указанному пути */
  }

@font-face {
    font-family: 'Shlapak'; /* имя шрифта для CSS правил */
    src: local('Shlapak'),
         url(fonts/Shlapak Script.otf); /* проверяем наличие шрифта в ОС пользователя, если шрифт не установлен, тогда загружаем его по указанному пути */
  }
  
.wrapper {
	margin: 0 auto;
	width: 1170px;
	max-width: 1170px;
	display: block !important;
}
.wrapper:after {
	content: '';
	clear: both;
	display: block;
	border: 0;
}

a {
	text-decoration: none;
}

header, footer, section {
	width: 100%;
}

.green {
 	background: #2ea865;
}

.gray {
	background: #0f1521;
}

.white {
	background: white;
}

.logo {
	font-family: "Shlapak";
	font-size: 48px;
}

.order .active {

}

/* HEADER */
header {
	border-top: 5px solid  #2ea865;
	position: relative;
}

header:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	background: url('../img/bg-bottom-triangles-green.png') repeat-x;
	bottom: -5px;
	left: 0;
}

header .wrapper {
	position: relative;
}
header .logo {
	position: absolute;
	top: 0;
	left: 435px;
}

header .logo:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -40px;
	left: 50px;
	width: 273px;
	height: 22px;
	background: url('../img/bottom-triangle-gray.png') no-repeat;
}

header ul {
	width: 100%;
}

header li {
	margin: 26px 10px 27px 10px;
	padding: 16px 25px 11px 25px;
	font-family: "PT Sans";
	font-size: 18px;
	color: #fff;
	border: 1px solid rgba(46, 168, 101, 0.5);
}

header li.active {
	border: 1px solid rgba(46, 168, 101, 1);
}

header li>a {
	color: #fff;
	display: block;
}

header li.main {
	padding-left: 30px;
	float: left;
}

header li.pizza {
	padding-left: 30px;
	float: left;
}

header li.sale {
	padding-left: 30px;
	float: right;
}

header li.contacts {
	padding-right: 30px;
	float: right;
}

header li.logo {
	border: 0;
	
}


/* BANNER SLIDER  */
section.banner-slider {

}

.banner-slider .description {

}

.banner-slider .description p {

}

.banner-slider .next {

}

.banner-slider .prev {

}

.banner-slider .cycle-slidershow {

}

.banner-slider .cycle-slidershow img {

}

.banner-slider a.order {

}

/* ADVANTAGES */

section.advantages {

}

.advantage {

}

.advantage .title {

}

.advantage .description {

}

.advantage a.button {

}

/* REVIEW */

section.review-block {
	background: #f8f8f8;
}

.review-panel {

}

.review-panel div.add-review-icon {
	
}

.review-panel a.add-review {
	
}

.review-panel p.description {
	
}

.review-slider {

}

.review-slider .review {

}

.review .description {

}

.review .author {

}

.review .author img {

}

.review .author .name {

}

.review .author .position {

}

/* CLIENTS */

section.clients {

}

.clients .title {

}

.clients .clients-slider {

}

.clients .clients-slider a {

}

.clients .next-client {

}

.clients .prev-client {

}

.clients-slider .nimax {

}

.clients-slider .astra {

}

.clients-slider .legion {

}

.clients-slider .epic {

}

.clients-slider .cat {

}

/* FOOTER */

footer {

}

.logo-block {

}

.logo-block .subslogan {

}

footer .twitter-block {

}

footer .twitter-block p {

}

footer .contacts-block {

}

footer .contacts-block .socials {

}

.socials a {

}

.socials a.facebook {

}

.socials a.twitter {

}

.socials a.vimeo {

}

.socials a.picasa {

}

.contacts-block p {

}
