/* Commomn rules */

header, footer, div, img, a, h1, h2, h3, h4, h5, p, section, ul, li, input {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	font-family: "PT Sans Narrow";
}

@font-face {
    font-family: 'Open Sans'; /* имя шрифта для CSS правил */
    src: local('Open Sans'),
         url(fonts/Open Sans.ttf); /* проверяем наличие шрифта в ОС пользователя, если шрифт не установлен, тогда загружаем его по указанному пути */
  }

@font-face {
    font-family: 'PT Sans Narrow'; /* имя шрифта для CSS правил */
    src: local('PT Sans Narrow'),
         url(fonts/PT Sans Narrow.ttf); /* проверяем наличие шрифта в ОС пользователя, если шрифт не установлен, тогда загружаем его по указанному пути */
  }

@font-face {
    font-family: 'Shlapak Script'; /* имя шрифта для CSS правил */
    src: local('Shlapak Script'),
         url(fonts/Shlapak Script.otf) format('opentype'); /* проверяем наличие шрифта в ОС пользователя, если шрифт не установлен, тогда загружаем его по указанному пути */
  }
  
.wrapper {
	margin: 0 auto;
	width: 1170px;
	max-width: 1170px;
	display: block !important;
	max-width: 1170px;
}

.wrapper:after {
	content: '';
	clear: both;
	display: block;
	border: none;
}

.bx-wrapper {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

.clients-slider, .b-slider, .review-slider {
	
}

a {
	text-decoration: none;
}

header, footer, section {
	width: 100%;
	display: block;
}

.green {
 	background: #2ea865;
}

.gray {
	background: #0f1521;
}

.white {
	background: white;
}

.logo {
	font-family: "Shlapak Script";
	font-size: 48px;
}

.shlapak {
	font-family: "Shlapak Script";
	font-size: 18px;
}

.button {
	height: 50px;
	line-height: 50px;
	padding: 0 27px;
	font-size: 18px;
	color: white;
	background-color: #1aa156;
}

ul {
	-webkit-padding-start: 0px !important;
	padding-start: 0px !important;
	-moz-padding-start: 0px !important;
}

/* HEADER */
header {
	border-top: 5px solid  #2ea865;
	position: relative;
}

header:after, footer .twitter-block:after, section.review-block #review-slider .description:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	background: url('../img/bg-bottom-triangles-green.png') repeat-x;
	bottom: -5px;
	left: 0;
	z-index: 999;
}

header .logo {
	position: relative;
}

header .logo:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -43px;
	left: 25px;
	width: 273px;
	height: 22px;
	background-image: url('../img/bottom-triangle-gray.png');
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1000;
}

header ul {
	width: 100%;
	text-align: center;
}

header li {
	margin: 26px 10px 27px 10px;
	font-size: 18px;
	color: #fff;
	border: 1px solid rgba(46, 168, 101, 0.5);
}

header li.active {
	border: 1px solid rgba(46, 168, 101, 1);
}

header li:hover {
	background-color: #2ea865;
}

header li>a {
	color: #fff;
	display: block;
	padding: 12px 25px 11px 25px;
}

header li.main {
	margin-left: 30px;
	float: left;
	margin-right: 65px;
}

header li.logo:hover {
	background-color: rgba(46, 168, 101, 0.0);
}

header li.pizza {
	float: left;
}

header li.sale {
	margin-left: 30px;
	float: right;
}

header li.contacts {
	margin-right: 30px;
	float: right;
	margin-left: 65px;
}

header li.logo {
	border: 0;
	padding: 0;
	margin: 24px 10px 21px 20px;
}

/* BANNER SLIDER  */
section.banner-block {
	min-height: 490px;
	max-height: 490px;
	background-image: url('../img/banner.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #0f1521;
	position: relative;
	overflow: hidden;
}

section.banner-block .wrapper, #banner-slider {
	position: relative;
	line-height: 490px;
}


section.banner-block .bx-viewport, section.banner-block .bx-wrapper, section.banner-block .wrapper, #banner-slider {
	height: 490px;
	max-height: 490px;
}

#banner-slider .description {
	vertical-align: middle;
}

.banner-block .description {
	width: 1100px;
	text-align: left;
	vertical-align: middle;
	line-height: normal;
}

.banner-block .description p {
	font-size: 40px;
	color: #fff;
	margin-bottom: 10px;
	opacity: 0.9;
	padding: 3px 14px 5px 14px;
}

.banner-block .description p.white {
	color: #1aa156;
}

section.banner-block .controls {
	position: absolute;
	width: 1170px;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	height: 50px;
}

.banner-block .bx-next, .banner-block .bx-prev {
	position: absolute;
	background: url('../img/arrow-right-white-circle.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 49px;
	height: 49px;
	top: 220px;
}

.banner-block .bx-next {
	right: -80px;
}

.banner-block .bx-prev {
	left: -80px;
}

.banner-block .bx-next:hover, .banner-block .bx-prev:hover {
	background: url('../img/arrow-left-green-circle.png');
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
}

.banner-block .bx-prev {
	-moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}

#banner-slider .container {
	position: absolute;
	bottom: 20px;
	display: block;
	width: 1170px;
	height: 50px;
	left: 0;
	text-align: center;
	line-height: 50px;
}

.banner-block .container a.order {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	padding: 0px 27px;
}

.banner-block .container a.order:hover {
	background-color: #0f1521;
}

/* ADVANTAGES */

section.advantages {
	color: #fff;
	text-align: center;
}

.advantages .slogan {
	display: block;
	width: 100%;
	margin: 0px 30px 50px 30px;
	padding-bottom: 10px;
	padding: 35px 0 10px 0;	
	vertical-align: top;
	font-size: 30px;
}

.advantages .wrapper .block, .advantages .wrapper.buttons {
	display: table;
}

.advantage {
	width: 399px;
	display: table-cell;
	padding-right: 30px;
	position: relative;
	text-align: center;
	vertical-align: top;
}

.advantage:last-child {
	width: 369px;
}

.advantage .title:before {
	content: '';
	position: absolute;
	width: 119px;
	height: 119px;
	top: 10px;
	left: 5px;
	background-position: center center;
	background-repeat: no-repeat;
}

.advantage .basket:before {
	background-image: url('../img/icon-shop-basket.png');
}

.advantage .bills:before {
	background-image: url('../img/icon-bills-stack.png');
}

.advantage .truck:before {
	background-image: url('../img/icon-truck.png');
}

.advantage .button {
	background: none;
	border: 1px solid  #1aa156;
	height: 50px;
	width: 130px;
	line-height: 50px;
	font-size: 18px;
	color: white;
	cursor: pointer;
	text-align: center;
	padding: 0 10px;
	margin-bottom: 50px;
}

.advantage .button:hover {
	background: #1aa156;
}

.advantage:last-child {
	padding: 0;
}

.advantage .title {
	font-size: 18px;
	margin-bottom: 20px;
	padding-top: 160px;
	position: relative;
	width: 130px;
}

.advantage .description {
	font-size: 12px;
	line-height: 21px;
	margin-bottom: 40px;
}



/* REVIEW */

section.review-block {
	background: #f8f8f8;
}

.review-block .wrapper {
	position: relative;
}

.review-panel {
	margin: 30px 0;
	width: 1170px;
	height: 100px;
	font-size: 18px;
	padding: 0px 100px;
	position: relative;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.1);
	box-shadow: 0 1px 5px rgba(0,0,0,.1);
	background-color: #fff;
}

.review-panel:before {
	content: '';
	background-image: url('../img/review-icon.png');
	background-position: center center;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	background-color: #0f1521;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.1);
	box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.review-panel a.add-review-text {
	padding: 0 20px 0 60px;
	color: #1aa156;
	width: 250px;
	height: 100px;
	position: relative;
	line-height: 100px;
}

.review-panel a.add-review-text:hover {
	color: #0f1521;
}

.review-panel a.add-review {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	line-height: 100px;
	width: 100px;
	height: 100px;
	text-align: center;
	color: #fff;
}

.review-panel a.add-review:hover {
	background-color: #0f1521;
}

.review-panel p.description {
	height: 100px;
	line-height: 100px;
	width: 700px;
}

.review-block .cycle-slidershow {
	width: 100%;

}

.review-block .cycle-slidershow .review {
	position: relative;
	width: 100%;
	font-size: 14px;
	color: #fff;
	text-align: center;
}

.review .controls {
	height: 115px;
	width: 100%;
}

.review .description {
	padding: 55px 245px 85px 245px;
	line-height: 18px;
	font-size: 14px;
	position: relative;
	color: #fff;
	text-align: center;
}

.review .author {
	position: absolute;
	display: block;
	bottom: 25px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1100;
}

.review .author img {
	margin-bottom: 10px;
}

.review .author .name {
	display: block;
	width: 100%;
	color: #fff;
}

.review .author .position {
	text-transform: lowercase;
	color: #1aa156;
}

.review-block .bx-next, .review-block .bx-prev {
	position: absolute;
	width: 28px;
	height: 28px;
	-webkit-background-size: 27px 27px;
	background-size: 27px 27px;
	background-image: url('../img/arrow-right-white-circle.png');
	background-repeat: no-repeat;
	background-position: center;
	bottom: 65px;
	cursor: pointer;
}

.review-block .bx-next {
	right: 30px;
}

.review-block .bx-prev {
	left: 30px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.review-block .bx-next:hover, .review-block .bx-prev:hover {
	background-image: url('../img/arrow-left-green-circle.png');
}

/* CLIENTS */

section.clients {
	background: #f8f8f8;
}

.clients .wrapper {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.1);
	box-shadow: 0 1px 5px rgba(0,0,0,.1);
	margin-top: 50px;
	margin-bottom: 100px;
	padding: 40px 20px;
}

.clients .wrapper .block {
	position: relative;
	width: 1030px;
	height: 100px;
	background-color: #f8f8f8;
	margin-left: 50px;
	padding-left: 30px;
}

.clients .bx-wrapper {
	margin: 0px 0px !important;
	padding: 0 !important;
	height: 100px !important;
	position: relative;
	top: -20px;
}

.clients .title {
	display: block;
	width: 100%;
	padding: 0 0px 40px 0px;
	font-size: 18px;
	color: #1aa156;
}

.clients .clients-slider {
	position: relative;
	width: 100%;
	height: 100px;
	margin-bottom: 40px;
	padding: 0px 65px 0px 115px;
	overflow: hidden;
}

.clients .clients-slider li {
	width: 200px;
}

.clients .bx-next, .clients .bx-prev {
	background-image: url('../img/arrow-left-white.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	height: 100px;
	content: '';
	position: absolute;
	top: 0;
	cursor: pointer;
	z-index: 10;
	background-color: #0f1521;
	font-size: 0;
}

.clients .bx-prev {
	left: -50px;
}

.bx-controls-direction {
	display: none;
}

.clients .bx-next {
	right: -50px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.clients .bx-prev:hover, .clients .bx-next:hover {
	background-color: #1aa156;
}

.clients .clients-slider a {
	display: block;
	float: left;
	margin-right: 60px;
	line-height: 100px;
}

.clients .clients-slider a img {
	vertical-align: middle;
}


/* FOOTER */

footer {
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
}

.logo-block {
	width: 100%;
	border-top: 5px solid  #2ea865;
}

.logo-block .logo {
	display: block;
	margin-top: 100px;
	padding: 0px 20px 18px 20px;
	color: #fff;
}

.logo-block .subslogan {
	display: block;
	font-size: 18px;
	color: #1aa156;
	margin-bottom: 105px;
	text-transform: lowercase;
}

footer .twitter-block {
	width: 100%;
	position: relative;
}

footer .twitter-block p {
	margin: 80px 380px 80px 410px;
	text-align: left;
	position: relative;
}

footer .twitter-block p:before {
	content: '';
	width: 36px;
	height: 27px;
	position: absolute;
	display: block;
	top: 5px;
	left: -55px;
	background-image: url('../img/icon-twitter-gray.png');
	background-position: center;
	background-repeat: no-repeat;
}

footer .twitter-block p a {
	color: #0f1521;
}

footer .twitter-block p a:hover {
	color: #fff;
}

footer .contacts-block {
	width: 100%;
	padding: 50px 50px 20px 50px;
}

footer .contacts-block .wrapper {
	width: 300px;
}

footer .contacts-block .socials {
	display: block;
	width: 200px;
	height: 50px;
	margin: 0px auto 50px auto;
}

.socials a {
	width: 50px;
	height: 50px;
	display: block;
	float: left;
	background-position: center center;
	background-color: #1aa156;
	background-repeat: no-repeat;
}

.socials a:hover {
	background-color: #0f1521;
}

.socials a.facebook {
	background-image: url('../img/socials/icon-facebook.png');
}

.socials a.twitter {
	background-image: url('../img/socials/icon-twitter.png');
}

.socials a.vimeo {
	background-image: url('../img/socials/icon-vimeo.png');
}	

.socials a.picasa {
	background-image: url('../img/socials/icon-picasa.png');
}

.contacts-block p {
	width: 100%;
	display: block;
	font-size: 14px;
	color: #1aa156;
}
